<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lynx CI</title>
</head>
<body>
<div>
    <h1>
        <%= title %>
    </h1>
    <p>
        <%= message %>
    </p>
</div>
</body>
</html>